version: '3.8'

services:
  db:
    image: postgis/postgis:16-master
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: routebuilder
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
